.git/

# for WebStorm
.idea/

# for npm
node_modules/
npm-shrinkwrap.json

# codes
src/
src/*.ts
src/**/*.ts

# tests
test/

# misc
example/
.gitignore
.editorconfig
circle.yml
setup.sh
Gruntfile.js
tslint.json

npm-debug.log